<div xmlns:th="http://www.w3.org/1999/xhtml">
    <h2 th:text="${post.title}">Title</h2>
    <p th:text="${post.caption}">Caption</p>
    <p>Location: <span th:text="${post.location}">Location</span></p>

    <!-- Изображения -->
    <div th:if="${images != null}">
        <h4>Images</h4>
        <div class="post-images" th:each="img : ${images}">
            <img th:src="@{'/images/' + ${img.id}}" alt="Image"/>
        </div>
    </div>

    <!-- Комментарии -->
    <div>
        <h4>Comments</h4>
        <div th:each="comment : ${post.comments}">
            <p><b th:text="${comment.username}">User</b>:
                <span th:text="${comment.message}">Message</span></p>
        </div>

        <!-- Форма добавления комментария -->
        <form th:action="@{'/posts/' + ${post.id} + '/comment'}" method="post">
            <input type="text" name="message" placeholder="Add a comment"/>
            <button type="submit">Comment</button>
        </form>
    </div>

    <!-- Форма добавления изображения -->
    <form th:action="@{'/posts/' + ${post.id} + '/saveimage'}" method="post" enctype="multipart/form-data">
        <input type="file" name="image"/>
        <button type="submit">Add Image</button>
    </form>
</div>
