<form th:action="@{/register}" th:object="${user}" method="post">
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" id="username" name="username" />

    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name" name="name" />

    <label for="lastname">Last Name:</label>
    <input type="text" th:field="*{lastname}" id="lastname" name="lastname" />

    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email" name="email" />

    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" name="password" />

    <button type="submit">Register</button>
</form>
